<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
			<p>Our group is a part of <a href="https://www.sydney.edu.au/science/schools/school-of-physics.html">The School of Physics</a> at <a href="https://sydney.edu.au">The University of Sydney</a>.</p>
		  <p><a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">About this website</a></p>
              
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href='https://rms.arc.gov.au/RMS/Report/Download/Report/1b0c8b2e-7bb0-4f2d-8f52-ad207cfbb41d/217'> Australian Research Council Future Fellowship</a> <br />
		  - <a href='https://sydney.edu.au'> The University of Sydney</a>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  A31 Sydney Nanoscience Hub, <br />
		  The University of Sydney<br />
		  2006, NSW, Australia <br />
            (<a href="https://goo.gl/maps/z9NSt6r4RAeF7UeG9">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
